:root {
    --primary: #e50914;
    --bg: #141414;
    --card-bg: #2b2b2b;
    --text: #ffffff;
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
}

.navbar {
    padding: 20px 5%;
    background: #000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.logo {
    color: var(--primary);
    font-size: 1.8rem;
    font-weight: bold;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px 5%;
}

.search-section {
    text-align: center;
    margin: 40px 0;
}

.search-box {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

input {
    padding: 12px;
    width: 350px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    background: #333;
    color: white;
}

button {
    padding: 12px 24px;
    background: var(--primary);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.section-title {
    margin: 30px 0 20px;
    font-size: 1.4rem;
    font-weight: 500;
}

.divider {
    height: 1px;
    background: #333;
    margin: 40px 0;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
}

.movie-card {
    background: var(--card-bg);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s;
    cursor: pointer;
}

.movie-card:hover {
    transform: scale(1.05);
}

.movie-card img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.info {
    padding: 12px;
}

.info h3 {
    margin: 0;
    font-size: 0.95rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.back-btn {
    background: rgb(175, 11, 11);
    color: #f0f0f0;
    border: 1px solid #aaa;
    margin-bottom: 20px;
    align-items: center;
}

.detail-card {
    display: flex;
    gap: 40px;
    background: #fffcfc;
    padding: 30px;
    border-radius: 12px;
}

.detail-card img {
    width: 300px;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .detail-card {
        flex-direction: column;
        align-items: center;
    }
}